@media (max-width: 991px) {
  header {
    ul {
      li {
        margin: 3px 2px;
      }
    }
  }

  main {
    #banners {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  header {
    img {
      margin-bottom: 10px;
    }
    form {
      margin: 20px 0;
    }
  }
}

@media (max-width: 380px) {
  .cards-promocionais {
    .cards-promocionais-card1,
    .cards-promocionais-card2 {
      p {
        font-size: 18px !important;
      }
    }
  }
}